extends layout
block content 

	.allcontent
		center
			br
			br
			br
			br
			h2(style="margin-top: 5rem;") Welcome Admin
			p
				a(href="/user/salesReg" style="font-size: 1.5rem; color: #392600;")
					| Register Sales