
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/form.css">
    <title>Boda Boda Banja</title>
</head>
<body>
    <form class="form-style-9">
        <h1>Customer Registration</h1>

        <ul>
        <li>
            <input type="text" name="name" class="field-style field-split align-left" placeholder="Name" />
            <input type="text" name="Date" class="field-style field-split align-right" placeholder="Current Date" />
        
        </li>
        <li>
            <input type="text" name="phone" class="field-style field-split align-left" placeholder="Phone" />
             <input type="file" name="nin" class="field-style field-split align-right" placeholder="File" /> 
        </li>
        <li>
            <input type="text" name="nan" class="field-style field-split align-left" placeholder="Nationality" />
            <input type="text" name="nin" class="field-style field-split align-right" placeholder="NIN" />
        </li>
        <li>
            <input type="text" name="dob" class="field-style field-split align-left" placeholder="Date of Birth" />
            <input type="text" name="vehicle" class="field-style field-split align-right" placeholder="Vehicle Needed" />
        </li>
        <li>
            <input type="text" name="refname" class="field-style field-split align-left" placeholder="Refree's Name" />
            <input type="url" name="refnum" class="field-style field-split align-right" placeholder="Refree's Number" />
        </li>
        <li>
            <input type="text" name="refwork" class="field-style field-split align-left" placeholder="Refree's Work" />
            <input type="url" name="refdob" class="field-style field-split align-right" placeholder="Refree's Date of Birth" />
        </li>
        <li>
            <input type="select" name="pay2" class="field-style field-split align-left" placeholder="Down payment 2 years" />
            <input type="url" name="monthpay" class="field-style field-split align-right" placeholder="Monthy Pay" />
        </li>
        <li>
            <input type="text" name="stage" class="field-style field-split align-left" placeholder="Stage Name" />
            <input type="url" name="Other" class="field-style field-split align-right" placeholder="Other Loans" />
        </li>

        <li>
            <label for="">Marrital Status</label>
            <input type="radio" required>Married
            <input type="radio"required>Single
        </li>
        <input type="submit" value="Register" />
        <input type="submit"placeholder="Cancel" style="margin-left: 70px;">
        </li>
        </ul>
        <input type="text">
        </form>
    
</body>
</html>
