extends layout
block content 

	.allcontent
		center
			br
			br
			br
			br
			br
			h2(style="margin-top: 5rem;") Welcome Sales Admin
			p
				a(href="/user/customerReg" style="font-size: 1.5rem; color: #392600;")
					| Register New customers Here 