
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="form.css">
    <title>Boda Boda Banja</title>
</head>
<body>
    <form class="form-style-9" action="user/salesList" method="POST">
        <h1>Sales Registration</h1>

        <ul>
        <li>
            <input type="text" name="name" class="field-style field-split align-left" placeholder="Name" />
            <input type="email" name="Date" class="field-style field-split align-right" placeholder="Current Date" />
        
        </li>
        <li>
            <input type="text" name="nationality" class="field-style field-split align-left" placeholder="Nationality" />
            <input type="url" name="email" class="field-style field-split align-right" placeholder="Email" />
        </li>
        <li>
            <input type="text" name="vehicle" class="field-style field-split align-left" placeholder="Vehicle Needed" />
            <input type="url" name="contact" class="field-style field-split align-right" placeholder="Phone Contact" />
        </li>
        <li>
            <input type="text" name="wkds" class="field-style field-split align-left" placeholder="Number of Working Days" />
            <input type="url" name="dob" class="field-style field-split align-right" placeholder="Date of Birth" />
        </li>
        <li>
            <input type="text" name="password" class="field-style field-split align-left" placeholder="Password" />
            <input type="url" name="wkid" class="field-style field-split align-right" placeholder="Working Id" />
        </li>
        <li>
            <label for="">Role</label>
            <input type="radio" required name="role">Sales Executive
            <input type="radio"required name="role">Supervisor
        </li>
        <input type="submit" value="Register" />
        <input type="submit"placeholder="Cancel" style="margin-left: 70px;">
        </li>
        </ul>
        </form>
    
</body>
</html>
