body {
	max-width: 90%;

	margin: 0 auto;
	padding: 0 2.7rem;
    margin-top: 1rem;
    font: 20px Arial, Helvetica, sans-serif;
}

nav{
	height: 40px;
}


footer {
	background-color: #305A72;
	font-family: Times new Roman, Roboto;
	color: #fff;
	font-size: 1.2rem;
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 999;
}

footer p {
	margin: 0.4rem 0;
}

#footer {
	margin-bottom: 1px;
	max-width: 1.6rem;
	border-radius: 50%;
}

